@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border: 1px solid gold;
}

#home-main-img {
    background-image: url('./modules/home-page/images/relaxed.svg');
    background-size: cover;
    width: 100vw;
}
#stand-out-img1 {
    background-image: url('./modules/home-page/images/stand-pose.svg');
    background-size: cover;
}
#stand-out-img2 {
    background-image: url('./modules/home-page/images/progress-tracking.svg');
    background-size: cover;

}

#stand-out-img3 {
    background-image: url('./modules/home-page/images/guided-mindfulness.svg');
    background-size: cover;
}
.stand-out-imgs {
    height: 230px;
}

.well-being-img {
    background-image: url('./modules/home-page/images/well-being-mirror.svg');
    background-size: cover;
    height:350px;
}


@media (min-width: 768px){
    /* At medium width */
    #well-being-img-desktop {
        height: auto;
        width: 400px
    }

}

@media (min-width: 1024px){
    #well-being-img-desktop {
        height: 450px;
        width: 500px
    }

}